.texto {
    color: brown;
}

.imageSkill {
    width: 4rem;
    height: 4rem;
    //display: block;
    //margin: auto;
}

.logoImg {
    width: 200px !important;
}

.skillBody {
    padding: 8px 0px 8px 0px;
    margin-left: 3rem;
    margin-top: 50px;
    box-shadow: 5px 10px 18px rgba(140, 140, 140, 0.77);
}